<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test  name="TestforSeleniumSBA">
    <classes>
      <class name="com.qa.tests.TestDisplayCustomer"/>
      <class name="com.qa.tests.TestCustomer"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
